*~
\#*
*.o
dinosauria
*doc/html
*doc/latex
*config.log
*.log
CMakeCache.txt
CMakeFiles
CMakeFiles/*
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
install_manifest.txt
Makefile
Dinosauria*.zip
*.a
runTests